
<template name="search">
   <div class="searchdiv">
    <form class="searchInput">
        <a class="fa fa-search"></a> {{> esInput index="lessons" placeholder="Search..." }} 
   </form> 

    <ul class="search">
        {{#esEach index="lessons"}}
            <ol class="col-md-4">
            <li><h1>{{name}}</h1></li>
            <br/>
            <li>{{{text}}}</li>
            {{#each courseIDs}}
              <a href="/course/{{this}}">See the whole course</a>
            {{/each}}
            </ol>
        {{/esEach}}
    </ul></div>
</template>
