
<!-- <form class="navbar-form navbar-left" role="search">
            
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default"><font><font>提交</font></font></button>
          </form> -->

<template name="search">
   <div class="jumbotron">
      <div class="row">
        <form role="form-control container">
          <div class="form-group col-xs-6 center-block inputcenter" >
                {{> esInput type="text" class="form-control input-lg" index="lessons" placeholder="Search..." }}
          </div>
        </form>
      </div>
   </div>
  <div class="container">
        {{#esEach index="lessons"}}
            <div class="searchCard thumbnail col-md-6 col-sm-12">
                <div class="well well-sm">
                  <h3 class="text-center">{{name}}</h3>
                 </div>
                  {{#each courseIDs}}
                       <a class="btn btn-primary" href="/course/{{this}}">See the whole course</a>
                   {{/each}}
                   
                      <div class="well well-lg">
                    <p>{{{text}}}</p>
                      </div>
                  
                  {{#each courseIDs}}
                      <h4><small>
                       {{courseName this}}
                       by {{courseAuthor this}}
                      </small></h4>
                  {{/each}}
                   
            </div>
        {{/esEach}}
    </div>
</template>
