.lesson-mark-done {
  float: right;
  font-size: 18px;
  padding: 0 6px;
}

.lesson-title {
  font-size: 20px;
}

.sidebar-lesson-link.completed {
  color: green;
}

#delete-lesson {
  color: #d9534f;
  position: absolute;
  top: 13px;
  left: 2px;
  z-index: 1;
  padding: 0;
}
