<template name="home">
  <div class="template-home">
    <div class="page-header cover-container">
      <div class="inner cover homefont">
      <h1 class="cover-heading">欢迎访问毛豆网微课堂</h1>
    <br/>
      <p class="lead">我们相信你 - 学习者自己的力量 - 可以建立最好的学习平台。</p>


      <p class="lead">学习的路径和创造的课程在一起。</p>


      <p class="lead">它是免费的，开放的教育。人人都可以享受的教育。</p>


            <p class="lead">
              <a href="{{ pathFor 'learn' }}" class="btn btn-lg btn-default">开始学习</a>
            </p>

    </div>
    </div>
  </div>
</template>
